@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
  /* height: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
  /* overflow: hiddene; */
}

.left-cont {
  width: 25vw;
  padding: 5px;
  /* position: fixed; */
}
.right-cont {
  width: 75vw;
  margin: 12px 0px;
  position: relative;
}

.home ul li {
  width: 20px;
  display: flex;
  list-style: none;
  gap: 15px;
  padding-top: 14px;
  font-weight: bold;
}
.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0px;
  gap: 15px;
  font-size: 12px;
  flex-wrap: wrap;
  padding: 10px;
}
.footer div a {
  color: grey;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  padding: 16px;
}
.nav {
  display: flex;
  gap: 20px;
}
.nav img {
  height: 25px;
  width: 20px;
}
.hamburger {
  display: none;
}

.soptifyPlaylist {
  padding: 20px;
}
.card {
  /* border: 2px solid red; */
  width: 200px;
  border-radius: 5px;
  /* background-color: #252525; */
  padding: 15px;
  position: relative;
  cursor: pointer;
}
.card:hover {
  background-color: #252525;
}
.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
  /* position: relative; */
}
.cardCont {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  overflow-y: auto;
  max-height: 60vh;
}
.play-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #1db954; /* Spotify green */
  color: black;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 180px;
  right: 30px;
  opacity: 0;
  /* transition: transform 0.2s ease, background-color 0.2s ease; */
  transition: all 0.2s ease-out;
}

.card:hover .play-btn {
  opacity: 1;
  top: 155px;
}
.play-btn:hover {
  background-color: #58d78b;
  /* width: 50px;
  height: 50px; */
  transform: scale(1.08);
}

.buttons > * {
  margin: 0 12px;
}

.signupBtn {
  background-color: rgb(34, 34, 34);
  color: #7d7d7d;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.signupBtn:hover {
  color: white;
  /* font-size: 17px; */
  transform: scale(1.04);
}

.loginBtn {
  background-color: white;
  height: 45px;
  width: 100px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.loginBtn:hover {
  background-color: rgb(243, 243, 243);
  transform: scale(1.04);
}
.playBar {
  position: fixed;
  bottom: 12px;
  right: 0;
  width: 73.5vw;
  background-color: rgb(49, 49, 49);
  height: 100px;
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.playButton {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.playButton:hover {
  transform: scale(1.1);
}

.previousButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.previousButton:hover {
  transform: scale(1.1);
}

.forwardButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.forwardButton:hover {
  transform: scale(1.1);
}

.songList {
  height: 410px;
  overflow: auto;
  margin: 30px 0;
}

.songList li {
  list-style-type: decimal;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  padding: 13px 3px;
  border: 1px solid white;
  border-radius: 5px;
}

.info {
  font-size: 13px;
  width: 344px;
}

.songInfo {
  width: 240px;
}

.songList img {
  width: 25px;
  height: 25px;
}

.playNow {
  display: flex;
  align-items: center;
}
.playNow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

.seekBar {
  height: 4px;
  position: absolute;
  width: 95%;
  /* border: 2px solid white; */
  background-color: white;
  bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
}
.circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #1db954;
  position: relative;
  bottom: 5px;
  cursor: pointer;
  left: 0%;
  transition: left 0.2s linear;
}

.songDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}
.cross {
  display: none;
}
.playButton {
 
  margin: -1px;
}
.playButton,
.previousButton,
.forwardButton {
  width: 40px;
  height: 40px;
}

.volume {
  display: flex;
  gap: 12px;
  cursor: pointer;
  align-items: center;
}
.range input{
    cursor: pointer;
}
/* :hover {
    display: inline-block;
} */
.timeV {
  justify-content: center;
  gap: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 1400px) {
  .left-cont {
    position: absolute;
    left: -110%;
    transition: all 0.5s ease;
    z-index: 1;
    width: 380px;
    background-color: black;
    padding: 0;
  }
  .right-cont {
    width: 100vw;
  }
  .playBar {
            width: 100vw;
       
        height: 166px;
  }
  .songDetails{
    flex-direction: column;
    gap: 6px;
  }
  .seekBar {
    width: 90%;
  }
  .hamburger {
    display: block;
  }
  .cross {
    display: block;
    position: absolute;
    top: 30px;
    position: absolute;
    right: 30px;
  }
  .songInfo {
    width: auto;
  }
  .playButton,
  .previousButton,
  .forwardButton {
    width: 24px;
    height: 40px;
    margin: 6px;
  }
  .volume{
    flex-direction:row;
  }
  .seekBar{
    bottom: 7px;
  }
  
}

@media (max-width: 580px) {
  .playBar {
            font-size: 15px;
    
        display: flex;
        flex-direction: row;
        height: 130px;
    }
    .left-cont{
      width: 320px;
    }
  
  .playButton,
  .previousButton,
  .forwardButton {
    width: 28px;
    height: 30px;
    margin: 3px;
  }
  .cardCont{
    justify-content: center;
  }
  .songInfo {
    width: auto;
  }
  .songList li {
    
    gap: 15px;
    
}
  
}


